html {
    background: linear-gradient(to bottom left,#4D7C86, #001930);
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: Lato, sans-serif;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 300;
}

p {
    text-align: center;
    margin: 5px;
}

em {
    font-weight: 700;
    font-style: normal;
}

img {
    height: 25px;
    width: auto;
}

a {
    color: white; 
    transition: transform 0.1s ease-in-out;
} 

a:hover {
    transform: scale(0.95);
}

#wrap {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

#wrap > div:first-of-type {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrap > div:last-of-type {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#wrap > div:last-of-type > div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
}