html {
    background: linear-gradient(to bottom right,#9BF2ED, #3270E8);
    height: 85vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: Lato, sans-serif;
    color: #3e3e3e;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

body {
    height: 100%;
    font-style: italic;
}

h1 {
    font-weight: 300;
    font-style: italic;
}

em {
    font-weight: 700;
}

.self-dialog {
    font-style: normal;
    font-weight: 700;
}

.quest-prompt {
    padding-left: 10px;
}

.quest-prompt::before {
    content: '';
    background:url('../assets/images/ellipse_quest.png');
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: -10px;
}

a {
    color: #3e3e3e; 
}

ul > li {
    list-style-type: "→ ";
}

#wrap {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

#wrap > div {
    width: 45%;
    height: 100%;
}

#wrap > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrap > div:last-of-type {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}