* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Lato, sans-serif;
  font-style: italic;
  letter-spacing: 0.1rem;
  font-weight: 300;
  background: linear-gradient(to bottom left,#4D7C86, #001930);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: white;
  font-size: 1rem;
  animation: fadeIn 1s;
}

.slider {
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
  }
  
  .slider--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
  }
  
  .slider--feature {
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .slider--title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  .slider--text {
    font-size: 1rem;
    color: #fff;
    margin: 0.5rem 0;
    width: 65%;
  }

  .slider-next-page {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .slider__btn-right {
  background: transparent;
  font-family: Lato, sans-serif;
  text-decoration: underline;
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  outline: none;
  color: #eee;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.slider__btn-right:hover {
  transform: scale(0.95);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn 1s;
  }